<%- include('common/head'); -%>
</head>


<body onload="updateUserLocation">
<br><br>
<div class="mobile-hide-show-description-btn">
  <button id="toggleFiltersBtn">Show Filters</button>
</div>
    <div class="filters" id="filters">
      <div id="filters2">
      <form id="filterForm" action="/" method="post">
        <div class="radio-filter">
          <p>Sort by: </p>
          <label>
            <input type="radio" name="sort" value="recent" <%=currentFilters.sort === 'recent' ? "checked" : undefined%>>
            Most Recent
          </label><br>
          <label>
            <input type="radio" name="sort" value="oldest" <%=currentFilters.sort === 'oldest' ? "checked" : undefined%>>
            Oldest
          </label><br>
          <label>
            <input type="radio" name="sort" value="closest" <%=currentFilters.sort === 'closest' ? "checked" : undefined%>>
            Closest
          </label><br>
          <label>
            <input type="radio" name="sort" value="furthest" <%=currentFilters.sort === 'furthest' ? "checked" : undefined%>>
            Furthest
          </label><br><br>
          <input type="hidden" id="userLocation" name="userLocation" >
          <input type="button" class="clear" value="Clear" onclick="resetForm()">
        </div>

      <!-- Filter panel -->
        <div class="search-character">
          <p>Search by characteristics:</p>
          <label>
            <input type="checkbox" name="identified" value="identified" <%=currentFilters.identified ? "checked" : undefined%>>
             Identified</label><br>
          <label>
            <input type="checkbox" name="flower" value="flower" <%=currentFilters.flower ? "checked" : undefined%>>
             Flowers
          </label><br>
          <label>
            <input type="checkbox" name="leaf" value="leaf" <%=currentFilters.leaf ? "checked" : undefined%>>
             Leaves
          </label><br>
          <label>
            <input type="checkbox" name="seeds" value="seeds" <%=currentFilters.seeds ? "checked" : undefined%>>
             Seeds
          </label><br>
          <label>
            <input type="checkbox" name="fruit" value="fruit" <%=currentFilters.fruit ? "checked" : undefined%>>
             Fruits
          </label><br>
        </div>

        <div class="dropdown-sun">
          <label for="sunExposure">Sun Exposure:</label><br>
          <select id="sunExposure" name="sunExposure">
            <option value="" <%=currentFilters.sunExposure ? undefined : "selected" %> disabled hidden>
              Select...
            </option>
            <option value="full" <%=currentFilters.sunExposure === "full" ? "selected" : undefined %>>
              Full Sun
            </option>
            <option value="partial" <%=currentFilters.sunExposure === "partial" ? "selected" : undefined %>>
              Partial Sun
            </option>
            <option value="shade" <%=currentFilters.sunExposure === "shade" ? "selected" : undefined %>>
              Shade
            </option>
          </select><br><br>
        </div>

        <div class="filter-colour">
          <label for="shouldFilterColour">Filter by colour?</label>
          <input type="checkbox" id="shouldFilterColour" name="shouldFilterColour"
             <%=currentFilters.shouldFilterColour === "on" ? "checked" : undefined%>
          ><br>

          <label for="colour">Colour to filter by:</label><br>
          <input type="color" id="colour" name="colour"
              <%=currentFilters.colour ? "value="+currentFilters.colour : undefined%>
          ><br>

          <label for="colourRange">Range of colour to include in filter:</label><br>
          <input type="range" id="colourRange" name="colourRange" min="10" max="100"
              <%=currentFilters.colourRange ? "value="+currentFilters.colourRange : undefined%>
          ><br>
        </div>

        <br>
        <div class="form-buttons">
        <input type="submit" value="Search" class="search-btn"><br><br>
          <input type="submit" value="Reset" class="reset-btn" onclick="resetFilters()">
        </div>
      </form>
      </div>

    <br><br>

  <main>
    <h2 class="posty">Posts</h2>
      <div id="posts-grid" class="posts-grid">
          <div id="post-template" class="post" hidden>
            <img class="image" src=""/>
            <h3 class="name"></h3>
            <a class="details">More Details</a>
            <p id="plant-location_"></p>
            <p class="date"></p>
            <p class="status"></p>
          </div>
      </div>
  </main>
</body>

<script src="/idb-index.js"></script>
<script src="/idb-utility.js"></script>
<script src="/javascripts/filter.js"></script>
<script src="/javascripts/locationname2.js"></script>

<%- include('common/footer'); -%>
