<%- include('common/head'); -%>
</head>


<body>
<!-- MOBILE MENU  -->
<div class="mobile-menu">
  <button id="burger-icon">&#9776;</button>
  <div id="burger-content">
    <ul>

    </ul>
  </div>
</div>



<!--  DESKTOP MENU  -->
<!-- Sorting of posts -->
    <button onclick="location.href='/create/'">New Post</button>
    <div class="filters">
      <form id="filterForm" action="/" method="post">
        <div class="radio-filter">
          <p>Sort by: </p>
          <label><input type="radio" name="date" value="recent"> Most Recent</label><br>
          <label><input type="radio" name="date" value="oldest"> Oldest</label><br>
          <label><input type="radio" name="distance" value="closest"> Closest</label><br>
          <label><input type="radio" name="distance" value="furthest"> Furthest</label><br><br>
          <input type="button" value="Clear" onclick="resetForm()">
        </div>

      <!-- Filter panel -->
        <div class="search-character">
        <p>Search by characteristics:</p>
        <label><input name="ident" value="ident" type="checkbox">Identified</label><br>
        <label><input name="flower" value="flower" type="checkbox"> Flowers</label><br>
        <label><input name="leaf" value="leaf" type="checkbox"> Leaves</label><br>
        <label><input name="seeds" value="seeds" type="checkbox"> Seeds</label><br>
        <label><input name="fruit" value="fruit" type="checkbox"> Fruits</label><br><br>
        </div>


        <div class="dropdown-sun">
          <label for="sunExposure">Sun Exposure:</label><br>
          <select id="sunExposure" name="sunExposure">
            <option value="" selected disabled hidden>Select...</option>
            <option value="full">Full Sun</option>
            <option value="partial">Partial Sun</option>
            <option value="shade">Shade</option>
          </select><br><br>
        </div>

        <div class="dropdown-colour">
          <label for="colour">Colour:</label><br>
          <select id="colour" name="colour" >
            <option value="red">Red</option>
            <option value="blue">Blue</option>
            <option value="green">Green</option>
            <option value="yellow">Yellow</option>
          </select><br>
        </div>

        <br><br>
        <div class="form-buttons">
        <input type="submit" value="Search" class="search-btn">
        <input type="submit" value="Reset" class="reset-btn" onclick="resetForm()">
        </div>
      </form>
    </div>

    <br><br>

  <main>
    <h1>Posts</h1>
  <% if (plants != null) { %>
      <div class="posts-grid">
        <% for (plant of plants) { %>
          <div class="post">
            <img class="image" src="<%=plant.imagePath%>" alt="<%= plant.name%>"/>

            <h3><%=plant.name%></h3>

            <a href="/plant/<%= plant._id %>">More Details</a> <!-- TODO set link routing to plant's page -->

            <% let date = new Date(plant.date) %>
            <p><%="(location TODO) " + date.toLocaleString()%></p> <!-- TODO add location when added to db -->

            <p><%="Status: " + plant.nameStatus%></p>

          </div>
        <% } %>
      </div>
    <% } %>
  </main>
<script src="/javascripts/filter.js"></script>
</body>

<%- include('common/footer'); -%>
