<%- include('common/head'); -%>
</head>


<body>
<!-- MOBILE MENU  -->
<div class="mobile-menu">
  <button id="burger-icon">&#9776;</button>
  <div id="burger-content">
    <ul>

    </ul>
  </div>
</div>



<!--  DESKTOP MENU  -->
<!-- Sorting of posts -->
    <button onclick="location.href='/create/'">New Post</button>
    <div class="filters">
      <form id="filterForm" action="/" method="post">
        <div class="radio-filter">
          <p>Sort by: </p>
          <label>
            <input type="radio" name="date" value="recent" <%=currentFilters.date === 'recent' ? "checked" : undefined%>>
            Most Recent
          </label><br>
          <label>
            <input type="radio" name="date" value="oldest" <%=currentFilters.date === 'oldest' ? "checked" : undefined%>>
            Oldest
          </label><br>
          <label>
            <input type="radio" name="distance" value="closest"> <!-- TODO set current filter to checked when location set up -->
            Closest
          </label><br>
          <label>
            <input type="radio" name="distance" value="furthest"> <!-- TODO set current filter to checked when location set up -->
            Furthest
          </label><br><br>
          <input type="button" value="Clear" onclick="resetForm()">
        </div>

      <!-- Filter panel -->
        <div class="search-character">
          <p>Search by characteristics:</p>
          <label>
            <input type="checkbox" name="ident" value="identified" <%=currentFilters.identified ? "checked" : undefined%>>
             Identified</label><br>
          <label>
            <input type="checkbox" name="flower" value="flower" <%=currentFilters.flower ? "checked" : undefined%>>
             Flowers
          </label><br>
          <label>
            <input type="checkbox" name="leaf" value="leaf" <%=currentFilters.leaf ? "checked" : undefined%>>
             Leaves
          </label><br>
          <label>
            <input type="checkbox" name="seeds" value="seeds" <%=currentFilters.seeds ? "checked" : undefined%>>
             Seeds
          </label><br>
          <label>
            <input type="checkbox" name="fruit" value="fruit" <%=currentFilters.fruit ? "checked" : undefined%>>
             Fruits
          </label><br><br>
        </div>

        <div class="dropdown-sun">
          <label for="sunExposure">Sun Exposure:</label><br>
          <select id="sunExposure" name="sunExposure">
            <option value="" <%=currentFilters.sunExposure ? undefined : "selected" %> disabled hidden>
              Select...
            </option>
            <option value="full" <%=currentFilters.sunExposure === "full" ? "selected" : undefined %>>
              Full Sun
            </option>
            <option value="partial" <%=currentFilters.sunExposure === "partial" ? "selected" : undefined %>>
              Partial Sun
            </option>
            <option value="shade" <%=currentFilters.sunExposure === "shade" ? "selected" : undefined %>>
              Shade
            </option>
          </select><br><br>
        </div>

        <div class="filter-colour">
          <label for="shouldFilterColour">Filter by colour?</label>
          <input type="checkbox" id="shouldFilterColour" name="shouldFilterColour"
             <%=currentFilters.shouldFilterColour === "on" ? "checked" : undefined%>
          ><br>

          <label for="colour">Colour to filter by:</label><br>
          <input type="color" id="colour" name="colour"
              <%=currentFilters.colour ? "value="+currentFilters.colour : undefined%>
          ><br>

          <label for="colourRange">Range of colour to include in filter:</label><br>
          <input type="range" id="colourRange" name="colourRange" min="10" max="100"
              <%=currentFilters.colourRange ? "value="+currentFilters.colourRange : undefined%>
          ><br>
        </div>

        <br><br>
        <div class="form-buttons">
        <input type="submit" value="Search" class="search-btn">
        <input type="submit" value="Reset" class="reset-btn" onclick="resetForm()">
        </div>
      </form>
    </div>

    <br><br>

  <main>
    <h1>Posts</h1>
    <% if (plants != null) { %>
      <div class="posts-grid">
        <% for (plant of plants) { %>
          <div class="post">
            <img class="image" src="<%=plant.imagePath%>" alt="<%= plant.name%>"/>

            <h3><%=plant.name%></h3>

            <a href="/plant/<%= plant._id %>">More Details</a>

            <% let date = new Date(plant.date) %>
            <p><%="(location TODO) " + date.toLocaleString()%></p> <!-- TODO add location when added to db -->

            <p><%="Status: " + plant.nameStatus%></p>

          </div>
        <% } %>
      </div>
    <% } %>
  </main>
<script src="/javascripts/filter.js"></script>
</body>

<%- include('common/footer'); -%>
