<%- include('common/head'); -%>
</head>

<%- include('common/header'); -%>

<body>
<!-- MOBILE MENU  -->
<div class="mobile-menu">
  <button type="submit">New Post</button> <br><br>
  <button id="burger-icon">&#9776;</button>
  <div id="burger-content">
    <ul>

    </ul>
  </div>
</div>



<!--  DESKTOP MENU  -->
<!-- Sorting of posts -->
  <nav class="desktop-sorting">
    <button type="submit">New Post</button>
    <h1>Posts</h1>
    <p>Sort by: </p>
    <form method="post">
      <button type="submit">Most recent</button>
      <button type="submit">Oldest</button>
      <button type="submit">Closest</button>
      <button type="submit">Furthest</button>
      <label for="identified">Identified</label>
      <input id="identified" type="checkbox">
      <button type="submit">Reset</button>
    </form>
  </nav>

  <aside class="desktop-filter">
  <!-- Filter panel -->
    <form method="post" id="filterForm">
      <h2>Search by characteristics</h2>
      <label>Flowers</label>
      <input type="checkbox"> <br>
      <label>Leaves</label>
      <input type="checkbox">
      <p>Does it have seeds or fruits</p>
      <label>Seeds</label>
      <input type="radio" name="seed-fruit">
      <label>Fruits</label>
      <input type="radio" name="seed-fruit">
      <p>Additional details</p>

      <div class="sun_dropdown">
        <button onclick="" class="dropbtn">Sun exposure</button>
        <div id="sun_dropdown_content" class="dropdown-content">
          <a href="#">Full sun</a>
          <a href="#">Partial shade</a>
          <a href="#">Full shade</a>
        </div>
      </div>

      <div class="colour_dropdown">
        <button onclick="" class="dropbtn">Colour</button>
        <div id="colour_dropdown_content" class="dropdown-content">
          <a href="#">White</a>
          <a href="#">Yellow</a>
          <a href="#">Orange</a>
          <a href="#">Red</a>
          <a href="#">Blue</a>
          <a href="#">Green</a>
          <a href="#">Pink</a>
          <a href="#">Grey</a>
          <a href="#">Black</a>
          <a href="#">Brown</a>
          <a href="#">Purple</a>
        </div>
      </div>

      <br>
      <input type="submit" value="Search">
    </form>
  </aside>

  <br><br>

  <main>
    <% if (plants != null) { %>
      <div class="posts-grid">
        <% for (plant of plants) { %>
          <div class="post">
            <% let imagePath = plant.imagePath %>
            <% if (imagePath.startsWith("public\\")) { %>
              <% imagePath = imagePath.substring(7) %>
            <% } %>
            <img src="<%=imagePath%>" />

            <h3><%=plant.name%></h3>

            <a href="">More details</a> <!-- TODO set link routing to plant's page -->

            <% let date = new Date(plant.date) %>
            <p><%="(location TODO) " + date.toDateString()%></p> <!-- TODO add location when added to db -->

            <p><%="Status: " + plant.nameStatus%></p>

          </div>
        <% } %>
      </div>
    <% } %>
  </main>
</body>

<%- include('common/footer'); -%>
