<%- include('common/head'); -%>
    <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
    <script src="/javascripts/chat_client.js"></script>
</head>

<%- include('common/header'); -%>

<body onload="init()">
    <h1><%= title %></h1>
    <div class="desktop-datetime">
        <p id="dateTime"><%= postDate %> </p>
    </div>

    <img src="<%= '../' + postImageURL %>" alt="user submitted picture of a plant"/>

    <div class="mobile-hide-show-description-btn">
        <!-- TODO static js script to hide and show plantDescriptions div on mobile-->
        <button>Hide Details</button>
    </div>

    <div id="plantDescription">
        <ul>
            <% for (var postDetail of postDetails) { %>
                <li><%= postDetail %></li>
            <% } %>
        </ul>
        <div id="plantCharacteristics">
            <% if (postFlowers) { %>
                <p>This plant has flowers.</p>
            <% } %>
            <% if (postLeaves) { %>
                <p>This plant has leaves.</p>
            <% } %>
            <% if (postFruit) { %>
                <p>This plant has fruit.</p>
            <% } %>
            <% if (postFlowers) { %>
                <p>This plant has seeds.</p>
            <% } %>
            <p>Sun Exposure: <%= postSun %></p>

        </div>
        <p>Spotted in <%= postLocation %></p>
        <p>Submitted by <%= postUsername %></p>
        <div class="mobile-datetime">
            <p id="dateTime"><%= postDate %> </p>
        </div>
    </div>
    <a href="/update/<%= plant._id %>">
        <button>Update Plant</button>
    </a>


    <h2>Live Chat</h2>
    <div id="joinChat">
        <form onsubmit="return false;">
            <input type="text" id="username" name="username-input" placeholder="Please provide a nickname">
            <button id="connectToChat" >Join chat</button>
        </form>
    </div>
    <div id="chatInterface" style="display: none">
        <div id="chatHistory"></div>
        <div id="sendMessage">
            <form onsubmit="return false;">
                <p>
                    <label for="username">chat: </label>
                    <input type="text" id="chatInput" name="chat-input" placeholder="Your message...">
                    <button id="chatSend" onclick="sendMessage()">Send</button>
                </p>
            </form>
        </div>
    </div>

</body>

<%- include('common/footer'); -%>