<%- include('common/head'); -%>
    <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
    <script src="/javascripts/chat_client.js"></script>
</head>


<body onload="init()">
    <h2><%= plant.name%></h2>
    <% const plantDate = new Date(plant.date) %>
    <div class="desktop-datetime">
        <p id="dateTime"><%= plantDate.toDateString() %> </p>
    </div>
    <div class="view-page">
    <img class="img-view" src="<%= '../' + plant.imagePath %>" alt="user submitted picture of a plant"/>

    <div class="mobile-hide-show-description-btn">
        <!-- TODO static js script to hide and show plantDescriptions div on mobile-->
        <button>Hide Details</button>
    </div>

        <div class="plant-description" id="plantDescription">
            <p><%="Plant Description: " + plant.description%></p>
            <div id="plantCharacteristics">
                <% if (plant.characteristics.hasFlowers) { %>
                    <p>This plant has flowers</p>
                <% } %>
                <% if (plant.characteristics.hasLeaves) { %>
                    <p>This plant has leaves</p>
                <% } %>
                <% if (plant.characteristics.hasFruit) { %>
                    <p>This plant has fruit</p>
                <% } %>
                <% if (plant.characteristics.hasSeeds) { %>
                    <p>This plant has seeds</p>
                <% } %>
                <p><%= "Sun Exposure: " + plant.characteristics.sunExposure%></p>
                <p><%= "Height: " + plant.characteristics.height + "cm"%></p>
                <p><%= "Spread: " + plant.characteristics.spread + "cm"%></p>
            </div>
            <span>Colour: </span>
            <div class="color-swatch" style="background-color: <%= plant.characteristics.colour %>;"></div>
            <p>Spotted: </p>
            <label for="location"></label>
            <input id="location" hidden="hidden" value="<%=plant.location%>">
            <p id="plant-location"></p>
            <p><%= "Date of Sighting: " + plantDate.toLocaleString() %> </p>
            <p><%= "Submitted by " + plant.username %></p>
            <p><%= "Status: " + plant.nameStatus%></p>
            <% if (plant.nameStatus !== 'Completed') { %>
                <a href="/update/<%= plant._id %>">
                    <button>Update Plant</button>
                </a>
            <% } %>

        <% if (plantLinkedData) { %>
            <% if (plantLinkedData.dbpediaPage) { %>
                <p>Linked Data From <a href="<%=plantLinkedData.dbpediaPage%>">DBpedia Page</a>:</p>
            <% } %>
            <% if (plantLinkedData.abstract) { %>
                    <% let abstract = plantLinkedData.abstract.trim(); %>
                    <% let firstTwoSentences = abstract.split('.').slice(0, 2).join('.') + '.'; %>
                    <p><%= firstTwoSentences %></p>
            <% } %>
            <% if (plantLinkedData.wikiID) { %>
                <a href="<%="https://en.wikipedia.org/?curid="+plantLinkedData.wikiID%>">Wikipedia Page</a>
            <% } %>
        <% } else { %>
            <p><%="Could not find linked data on dbpedia for this resource"%></p>
        <% } %>

        </div>

        <div class="chat">
    <h2>Live Chat</h2>
    <div id="joinChat">
        <form onsubmit="return false;">
            <input type="text" id="username" name="username-input" placeholder="Please provide a nickname">
            <button id="connectToChat" >Join chat</button>
        </form>
    </div>
    <div id="chatInterface" style="display: none">
        <div id="chatHistory"></div>
        <div id="sendMessage">
            <form onsubmit="return false;">
                <p>
                    <label for="username">chat: </label>
                    <input type="text" id="chatInput" name="chat-input" placeholder="Your message...">
                    <button id="chatSend" onclick="sendMessage('<%= plant._id %>')">Send</button>
                </p>
            </form>
        </div>
    </div>
    </div>
    </div>
    <script src="/javascripts/locationname.js"></script>
</body>

<%- include('common/footer'); -%>